// Reusable SCSS code mixins.

@mixin mixin-name {
    font-size: rem(16px);
    padding: em(15px) em(30px);
    margin: em(15px) em(10px) em(20px);
}

@mixin no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;  /* Safari */
    -khtml-user-select: none;  /* Konqueror HTML */
    -moz-user-select: none;   /* Old versions of Firefox */
    -ms-user-select: none;   /* Internet Explorer/Edge */
    user-select: none;      /* Non-prefixed version, currently
                            supported by Chrome, Edge, Opera and Firefox */
}
