//////////////////////////

/// Font sizes
$basic_heading: 42px;
$heading: 26px;
$big-text: 24px;
$normal-text: 22px;
$standard-text: 20px;
$small: 18px;
$smaller: 16px;

/// Base font size
$fs-base: 22px;

/// Base line height
$flh-base: 24px;
$flh-base-modifier: .0425;
$flh-base-increment: .0005;
